<%= turbo_frame_tag "__#{ dom_id(book) }" do  %>
  <div class='row' data-id='<%= book.id %>' data-edit='false'>
    <%= render partial: 'books/show', locals: { book: book } %>

  </div>
<% end %>




